html,
body,
#cesiumContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: #000;
  color: #eee;
}

#toolbar {
  margin: 5px;
  padding: 2px 5px;
  position: absolute;
  top: 0;
}

/* 鹰眼样式 */
#eye {
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: 0;
  right: 0;
  z-index: 999;
  background: red;
  border: solid blue 1px;
}

.panel,
.window-shadow {
  left: 0 !important;
  top: 0 !important;
}
.panel-title {
  color: #ffff !important;
}
.window {
  background: rgba(23, 49, 71, 0.8);
}

.compass-custom,
.compass-outer {
  width: 120px;
  height: 120px;
  position: absolute;
  background: rgb(62 65 65 / 40%);
  border-radius: 50%;
}
.compass-inner,
.compass-custom {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: contain;
}

.map3D-coordinates {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 99;
}

#cd_label {
  display: inline-block;
  line-height: 40px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.5);
}

/* 气泡弹窗样式 */
#popup-content-wrapper {
  position: absolute;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
  padding: 1px;
  text-align: left;
  border-radius: 3px;
  z-index: 99;
  background: rgba(63, 72, 84, 0.9);
  min-height: 28px;
}

#popup-content-wrapper::after{
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  width: 0; 
  height: 0;
  border-width: 15px;
  border-style: solid;
  border-color:rgba(63, 72, 84, 0.9) transparent transparent  transparent;
}

.popup-content {
  margin: 10px;
  line-height: 1.4;
  font-size: 13px;
  max-width: 700px;
  min-width: 50px;
  max-height: 550px;
  overflow-y: auto;
}
.popup-content div {
  margin-top: 5px;
}

.close_btn{
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}

